;; Example climit.edn file
;; Required: concurrency
;; Optional: queue-size, ommited means Integer/MAX_VALUE
{:update-file   {:permits 1 :queue 3}
 :auth          {:permits 128}
 :process-font  {:permits 4 :queue 32}
 :process-image {:permits 8 :queue 32}

 :push-audit-events
 {:permits 1 :queue 3}}
